/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
} 
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'Gubia Regular';
    src: url(../fonts/Gubia.eot);
    src: url(../fonts/Gubia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Gubia.woff) format('woff'),
    url(../fonts/Gubia.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lawyer Gothic Regular';
    src: url(../fonts/LawyerGothic-Bold.eot);
    src: url(../fonts/LawyerGothic-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/LawyerGothic-Bold.woff) format('woff'),
    url(../fonts/LawyerGothic-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body {
    font-family: 'Gubia Regular';
    line-height: 1;
    color: aliceblue;
}
.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}








.header {
    padding: 0 3%;
    height: 80px;
    background-color: #161616;
    /* background-image: url(../img/platabel.png); */
    /* background-position: 1000px -610px; */
    /* background-repeat: no-repeat; */
}
.top-row-container {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}
.logo-block {
    /* margin-right: 85px; */
    width: 100%;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
}
.logo-row {
    display: block;
    font-size: 46px;
    /* line-height: 53px; */
}
.logo {
    display: block;
    text-align: center;
    margin-top: -9px;
    /* margin-left: 15%; */
    letter-spacing: .1%;
    /* width: 420px; */
}
.logo-rv {
    display: inline-block;
    color: #7AB63B;
    text-transform: uppercase;
    font-size: 65px;
    transition: .7s;
}
.logo-rv:hover {
    text-shadow: rgb(72, 139, 0) 0 0 6px;
    cursor: pointer;
    color: #B1ED72;
}
.logo-text {
    width: 165px;
    display: inline-block;
    margin-top: -12px;
    font-size: 24px;
    font-weight: bold;
}
.row-phone {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: flex-end;
    box-shadow: 0 2px 7px 0 hsla(0, 0%, 4%, 0.05), 3px 27px 54px -34px rgba(0, 0, 0, 0.47);
}
.row-phone-link {
    display: block;
    margin-top: 5px;
    color: #7AB63B;
    font-size: 35px;
    transition: .4s;
}
.row-phone-link:hover {
    color: #B1ED72;
    text-shadow: rgb(72, 139, 0) 0 0 4px;
}

.row-address {
    display: block;
    font-size: 16px;
}
/* .nav {
    margin-right: 10%;
    width: 100%;
} */
.nav-list {
    display: flex;
    margin-top: 27px;
}
.nav-list::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #7AB63B;
    top: 13px;
    margin-left: -40px;
}
.nav-item:nth-child(n+2) {
    margin-left: 8px;
}
.nav-link {
    display: block;
    color: #D0D0D0;
    /* color: none; */
    font-family: 'Lawyer Gothic Regular';
    font-size: 9px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    transition: .3s;
    white-space: nowrap;
    /* background-color: #7AB63B; */
    padding: 6px 7px 6px 7px;
    border: 1px solid;
    border-radius: 12px;
    /* border-image: 
    linear-gradient(
      to bottom, 
      #7AB63B, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */       
}
.nav-link:hover {
    color: #000000;
    background-color: #D0D0D0;
    /* border-color: #7AB63B; */
    border-color: #D0D0D0;
    border-radius: 10px;
}











.wellcome {
    height: 100vh;
    background-image: url(..//img/back-img.jpg);
    background-size: cover;
    position: relative;
}
.wellcome::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, black 0%, #434343 100%);
    background-blend-mode: multiply,multiply;
    opacity: .9;
}
/* .png-item-1 {
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url(..//img/laptop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 4;
} */
.wellcome-slogan {
    margin-top: 10%;
    margin-left: 53%;
    /* width: 50%; */
    /* height: 700px; */
    font-size: 90px;
    line-height: 0.6em;
    position: relative;
    z-index: 2;
    /* background-color: rgba(255, 248, 220, 0.61); */
}
.wellcome-slogan::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 6px;
    top: 150px;
    left: 230px;
    background : linear-gradient(-60deg,rgb(163, 255, 65) 50%, rgb(95, 155, 32) 100%);
}
.wellcome-text {
    font-size: 60px;
}





.cards-block {
    /* background-image: url(..//img/black-wall.jpg);
    background-size: cover; */
    background: #131313;
    display: flex;
}
.card {
    display: block;
    color: rgb(165, 165, 165);
    position: relative;
    width: 14.4%;
    height: 370px;
    text-align: center;
    transition-duration: 0.5s;
}
.card:hover::after {
    opacity: 1;
  }
  
  .card:hover {
    color: #000;
  }
.card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(163, 255, 65);
    background-image: linear-gradient(-60deg,rgb(163, 255, 65) 50%, rgb(95, 155, 32) 100%);
    opacity: 0;
    transition-duration: 0.5s;
  }
.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}
.card-icon {
    margin-top: 55px;
    color: #131313;
    width: 50px;
    background: none;
}
.card-title {
    padding-top: 15px;
    font-size: 21px;
    font-weight: bold;
}
.card-text {
    padding: 40px 20px 5px 20px;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 21px;
}
.two-rows {
    padding-top: 19px;
}











.faster {
    display: flex;
    background-color: #131313;
}
.faster-text-container {
    width: 40%;
    margin-top: 155px;
    margin-left: 10%;
}
.faster-title {
    position: relative;
    font-size: 70px;
    line-height: 0.9;
    font-weight: bold;
}
.faster-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 5px;
    top: 180px;
    left: 0;
    background-color: #7AB63B;
    border-radius: 2px;
}
.faster-text {
    padding: 90px 190px 190px 0px;
    font-size: 24px;
    color: #9e9e9e;
}
.green-text {
    color: #7AB63B;
}
.faster-img-container {
    width: 60%;
    position: relative;
}
.faster-img {
    display: block;
    position: absolute;
    top: 90px;
    left: 100px;
    z-index: 3;
}
.faster-decor {
    position: absolute;
}
.faster-decor-1 {
    width: 330px;
    height: 100px;
    top: 260px;
    left: 70px;
    background-color: #2B2B2B;
    border-radius: 50px;
}
.faster-decor-2 {
    width: 200px;
    height: 110px;
    top: 180px;
    left: 200px;
    background: linear-gradient(-60deg,#B1ED72 0%, #7AB63B 100%);
    border-radius: 55px;
}
.faster-decor-3 {
    width: 330px;
    height: 120px;
    top: 70px;
    left: 370px;
    background-color: #2B2B2B;
    border-radius: 60px;
}
.faster-decor-4 {
    width: 180px;
    height: 110px;
    top: 260px;
    left: 630px;
    background: linear-gradient(-60deg,#B1ED72 0%, #7AB63B 100%);
    border-radius: 55px;
    z-index: 2;
}
.faster-decor-5 {
    width: 180px;
    height: 110px;
    top: 320px;
    left: 545px;
    background: #2B2B2B;
    border-radius: 55px;
}
.faster-decor-6 {
    width: 180px;
    height: 110px;
    top: 450px;
    left: 330px;
    background: linear-gradient(-60deg,#B1ED72 0%, #7AB63B 100%);
    border-radius: 55px;
}
.why {
    height: 700px;
    background-image: url(..//img/img_2.jpg);
    background-size: cover;
    background-position: center center;
}
.why-text-container {
    width: 45%;
    margin-left: 45%;
    padding-top: 100px;
    /* background-color: hsla(0, 0%, 62%, 0.411); */
    color: #131313;
}
.shnor-title {
    display: block;
    padding-bottom: 50px;
    font-size: 70px;
    font-weight: bold;
    color: #131313;
    text-align: center;
}
.why-item {
    margin-left: 150px;
    position: relative;
}
.why-item:nth-child(n+2) {
    margin-top: 50px;
}
.why-item::before {
    content: "";
    position: absolute;
    left: -130px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    background-image: url(..//img/arrow.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.why-title {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}
.why-text {
    font-size: 21px;
    font-weight: bold;
}



@media screen and (max-width: 1367px) {
    .card-icon {
        margin-top: 15px;
    }
    .card-text {
        padding: 15px 15px 5px 15px;
    }
}